* {
    outline: 1px solid --red;
}



.mz {
    font-family: 'Noto Serif KR', serif;
}

body {
    font-size: inherit;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg {
    background: #f9f9f9;
}

.sec {
    padding: 100px 0;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 80px;
    /* background: #0f2244; */
    color: #fff;
    z-index: 9999;
}

.header .header_inner {
    display: flex;
    width: 1700px;
    margin: 0 auto;
}

.header .header_inner h1 {
    flex: 0.8;
}

.header .header_inner .gnb {
    flex: 2;
}

.header .header_inner .service {
    flex: 0.8;
    justify-content: flex-end;
}

.header .gnb>ul {
    display: flex;
}

.header .gnb>ul>li {
    position: relative;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    font-size: 19px;
}

.header .gnb>ul a {
    display: block;
}

.header .gnb>ul>li .smenu {
    position: absolute;
    top: 100px;
    left: 50%;

    line-height: 40px;

    transform: translate(-50%, 0);

    width: 100px;
    margin: 5px 0 0 0;

    height: 0;
    overflow: hidden;

    transition: 0.5s;
    text-align: center;

    font-size: 16px;
    color: #191919;
}

.header:hover .gnb>ul>li .smenu {
    height: 250px;
    /* background: rgb(255, 255, 255, 0.3); */
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 0;
    /* background: #fff; */
    border-top: 1px solid rgb(221, 221, 221, 0.3);

    transition: 0.7s;
}

.header:hover .gnb::before {
    height: 290px;
    background: rgb(255, 255, 255, 0.8);
}

.header:hover .header_wrap {
    background: #0f2244;
    transition: 0.3s;
}

.header .service {
    display: flex;
    gap: 20px;
}

.header .service .kakao_icon {
    position: relative;
    /* outline: 1px solid red; */
}

.header .service .kakao_icon a::after {
    position: absolute;
    top: 50%;
    left: 225%;
    transform: translate(0, -50%);
    content: "";
    width: 1px;
    height: 10px;
    background: #fff;
    opacity: 0.5;
}

.header .call {
    margin: 0 0 0 30px;
    font-size: 25px;
}

.header .call i {
    font-size: 19px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}



/* main_visual */

.main_visual .main_slide figure {
    position: relative;
    height: 100vh;
}

.main_visual .slide_itm01 {
    background: url(../img/main01.jpg)no-repeat center center/cover;
}

.main_visual .slide_itm02 {
    background: url(../img/main02.jpg)no-repeat center center/cover;
}

.main_visual figure .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 1.4;

    /* text-shadow: 1px 0 #a69381;; */
}

.main_visual figure .inner strong {
    display: block;
    font-size: 29px;
    font-weight: 700;
    /* color: #a69381; */
    margin: 0 0 60px 0;
}

.main_visual figure .inner h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.main_visual figure .inner p {
    font-size: 23px;
    font-weight: 300;
}









































/* to top */
.to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1001;
}

.to_top i {
    padding: 15px;
    font-size: 21px;
    background: #87af0f;
    border-radius: 20px;
    color: #fff;

    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.to_top.on i {
    opacity: 1;
    visibility: visible;
}


@media (max-width:768px) {
    .to_top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1001;
    }

}


.mopen {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 1000;
    border: none;
    background: transparent;
    display: none;
}

.mopen i {
    background: #f7f7f7;
    padding: 8px;
    font-size: 30px;
}


@media (max-width:768px) {
    .mopen {
        position: fixed;
        top: 60px;
        right: 15px;
        z-index: 1002;
        border: none;
        background: transparent;
        display: block;
    }

    .mopen i {
        background: #f7f7f7;
        padding: 8px;
        font-size: 30px;
    }
}