* {
    outline: 1px solid --red;
}



.mz {
    font-family: 'Noto Serif KR', serif;
}

.mze {
    font-family: 'Nanum Myeongjo', serif;
}

body {
    font-size: inherit;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg {
    background: #f9f9f9;
}

.sec {
    padding: 100px 0;
}

.text {
    text-align: center;
}

.text h2 {
    font-size: 47px;
    font-weight: 500;
    margin: 0 0 20px 0;
}


.text p {
    font-size: 19px;
    margin: 0 0 45px 0;
    line-height: 1.4;
    color: #707070;
}

button {
    cursor: pointer;
}

.btn_o {
    background: transparent;
    border: none;
    outline: none;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 80px;
    /* background: #0f2244; */
    color: #fff;
    z-index: 9999;
}

.header .header_inner {
    display: flex;
    width: 1800px;
    margin: 0 auto;
}

.header .header_inner h1 {
    flex: 0.8;
}

.header .header_inner h1 img {}

.header .header_inner .gnb {
    flex: 2;
}

.header .header_inner .service {
    flex: 0.8;
    justify-content: flex-end;
}

.header .gnb>ul {
    display: flex;
}

.header .gnb>ul>li {
    position: relative;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    font-size: 19px;
}

.header .gnb>ul a {
    display: block;
}

.header .gnb>ul>li .smenu {
    position: absolute;
    top: 80px;
    left: 50%;

    line-height: 40px;

    transform: translate(-50%, 0);

    width: 100px;
    margin: 25px 0 0 0;

    height: 0;
    overflow: hidden;

    transition: 0.5s;
    text-align: center;

    font-size: 16px;
    color: #191919;
}

.header:hover .gnb>ul>li .smenu {
    height: 250px;
    /* background: rgb(255, 255, 255, 0.3); */
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 0;
    /* background: #fff; */
    /* border-top: 1px solid rgb(221, 221, 221, 0.2); */

    transition: 0.5s;
}

.header:hover .gnb::before {
    height: 290px;
    background: rgb(255, 255, 255, 0.9);
}

.header:hover .header_wrap {
    background: #0f2244;
    transition: 0.3s;
}

.header .service {
    display: flex;
    gap: 20px;
}

.header .service .kakao_icon {
    position: relative;
    /* outline: 1px solid red; */
}

.header .service .kakao_icon a::after {
    position: absolute;
    top: 50%;
    left: 225%;
    transform: translate(0, -50%);
    content: "";
    width: 1px;
    height: 10px;
    background: #fff;
    opacity: 0.5;
}

.header .call {
    margin: 0 0 0 30px;
    font-size: 25px;
}

.header .call i {
    font-size: 19px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

/* .header_wrap.on h1 {
    width: 160px;
} */

.header_wrap.on {
    line-height: 80px;
    background: rgb(15, 34, 68, 0.9);

    /* background: rgba(243, 244, 245, 0);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(221, 221, 221, 0.2); */
}


/* main_visual */
.main_visual {
    position: relative;
}

.main_visual .main_slide figure {
    position: relative;
    height: 100vh;
}

.main_visual .slide_itm01 {
    background: url(../img/main01.jpg)no-repeat center center/cover;
}

.main_visual .slide_itm02 {
    background: url(../img/main02.jpg)no-repeat center center/cover;
}

.main_visual figure .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 1.4;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.main_visual figure .inner strong {
    display: block;
    font-size: 25px;
    font-weight: 300;
    /* color: #a69381; */
    margin: 0 0 25px 0;
}

/* .main_visual figure .inner strong::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #dc3545;
    border-radius: 50%;
    margin: 0 0 0 10px;
} */

.main_visual figure .inner h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0 0 50px 0;
}

.main_visual figure .inner p {
    font-size: 21px;
    /* font-weight: 300; */
}

.main_visual .scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    /* letter-spacing: 0.2em; */

    opacity: 0.9;
}


.main_visual .scroll i {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    font-size: 21px;
    animation: motion 0.5s
        /* 속도 */
        linear 0s
        /* 처음부터 끝까지 일정 속도로 진행 */
        infinite alternate;
    /* 무한 반복 */
}

@keyframes motion {
    0% {
        margin-bottom: 0px;
    }

    /* 처음 위치 */


    100% {
        margin-bottom: 5px;
    }

    /* 마지막 위치 */
}


.inner_arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px solid green; */
    z-index: 999;
}

.main_visual .arrows i {
    position: absolute;
    bottom: 0;
    right: 15px;
    transform: translate(0, 0);
    font-size: 31px;
    color: #fff;
    cursor: pointer;
}

.main_visual .arrows i:first-child {
    position: absolute;
    right: 76px;
    padding: 15px;
    background: #a69381;
}

.main_visual .arrows i:last-child {
    padding: 15px;
    background: #f9f9f9;
    color: #a69381;
}

/* main_address */
.main_address {
    text-transform: uppercase;
}

.main_address .address_content {
    display: flex;
    gap: 30px;
}

.main_address .address_content .itm {
    flex: 1;
}

.main_address .address_content .itm figure {
    overflow: hidden;
}

.main_address .address_content .itm img {
    transition: 0.5s;
}

.main_address .address_content .itm:hover img {
    transform: scale(120%);
}

.main_address .address_content .itm .tit {
    padding: 30px 20px;
    word-break: keep-all;
    /* background: #f9f9f9; */
    line-height: 1.4;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.main_address .address_content .itm .tit strong {
    display: block;
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 20px 0;
    line-height: 1.45;

    height: 80px;
}

.main_address .address_content .itm .tit strong b {
    font-size: 19px;
    font-weight: 700;
}

.main_address .address_content .itm .tit span {
    font-size: 15px;
    display: block;
    font-weight: 300;
    /* outline: 1px solid red; */
}


/* main_banner */
.main_banner {
    position: relative;
    background: url(../img/lux_bg.jpg)no-repeat fixed center center/cover;
    text-align: center;
    color: #fff;
    padding: 100px;
    /* filter: grayscale(1); */
}

.main_banner h2 {
    font-size: 37px;
    font-weight: 500;
    color: #a69381;
    margin: 0 0 20px 0;
}

.main_banner p {
    font-size: 23px;
    color: #a69381;
    font-weight: 300;
    margin: 0 0 50px 0;
}

.main_banner img {
    margin: 0 0 60px 0;
}

.main_banner span {
    display: block;
    font-size: 17px;
    font-weight: 300;
}


/* main_numbers */
.main_numbers p {
    margin: 0 0 80px 0;
}

.main_numbers ul {
    /* outline: 1px solid red; */
    display: flex;
    gap: 30px;
    font-size: 31px;
    font-weight: 700;
}

.main_numbers ul li {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_numbers ul li i {
    margin: 0 0 20px 0;
    font-size: 45px;
    /* color: #0f2244; */
}

.main_numbers ul li span {
    font-size: 31px;
    font-weight: 300;
    line-height: 1.4;
}

.main_numbers ul li span b {
    font-size: 43px;
    font-weight: 700;
}

.main_numbers ul li~li::after {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    content: "";
    width: 1px;
    height: 80px;
    background: #ddd;

    margin: 0 30px 0 0;
}


/* main_space */
.main_space {
    position: relative;
    display: flex;
    line-height: 1.4;

}

.main_space .left {
    flex: 1.5;
    background: #f9f9f9;
}

.main_space .left .left_tit {
    width: 350px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    background: #f9f9f9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
    word-break: keep-all;
}

.main_space .left h2 {
    font-size: 39px;
    font-weight: 500;
    margin: 0 0 60px 0;
    line-height: 1.3;
}

.main_space .left h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background: #333;
    margin: 40px 0 0 0;
}

.main_space .left strong {
    display: block;
    font-size: 21px;
    margin: 0 0 30px 0;
    color: #7a7a7a;
}

.main_space .left strong b {
    font-size: 27px;
}

.main_space .left ul {
    display: block;
}

.main_space .left ul span {
    color: #7a7a7a;
    display: block;
    margin: 0 0 7px 12px;
}

.main_space .left ul span em {
    font-size: 14px;
}

.main_space .left ul li {
    position: relative;
}

.main_space .left ul li::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 1px;
    background: #7a7a7a;
}

.main_space .right {
    position: relative;
    flex: 2;
}

.main_space .rigth_tit {
    width: 720px;
    padding: 50px 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(166, 147, 129, 0.95);
    /* background: rgba(30, 49, 52, .85); */
}

.main_space .rigth_tit p {
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.4;
    word-break: keep-all;
}

.main_space .rigth_tit p b {
    font-size: 29px;
    font-weight: 400;
}


/* main_news */

.main_news .main_list li {
    margin: 0 0 10px 0;
}

.main_news .main_list a {
    position: relative;
    z-index: 999;
    display: block;
    padding: 30px 0;
}

.main_news .main_list strong {
    display: block;
    margin: 0 0 20px 0;

    font-size: 22px;
    /* font-weight: 300; */
}

.main_news .main_list span {
    font-size: 15px;
}

.main_news .cate {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);

    font-size: 14px;
    /* font-weight: 300; */
}

.main_news .cate i {
    margin: 0 0 0 30px;
}

.main_list>li {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.main_list:nth-child(1) {
    border-top: 1px solid #eee;
    padding: 10px 0 0 0;
}

.main_list>li:hover {
    color: #a69381;
    transition: 0.5s;
}


/* main_youtube_bg */
.main_youtube_bg {
    color: #fff;
    overflow: hidden;
    padding: 200px 0;
}

.main_youtube_bg .tit {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.main_youtube_bg .tit h2 {
    font-size: 41px;
    margin: 0 0 20px 0;
}

.main_youtube_bg .tit p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
    width: 800px;
    word-break: keep-all;
    margin: 0 auto 50px auto;
}

.main_youtube_bg i {
    padding: 10px;
    background: #a69381;
    color: #fff;
    border-radius: 5px;
}













/* main_contact */
.main_contact {
    background: url(../img/contact_bg.jpg)no-repeat center center/cover;
}

.main_contact .contact_itm {
    display: flex;
    gap: 30px;
}

.main_contact .contact_tit {
    display: flex;
    padding: 20px 30px;
    background: #0f2244;
    color: #fff;
}

.main_contact .contact_tit strong {
    display: block;
    font-weight: 500;
    margin: 0 15px 0 0;
}

.main_contact .contact_tit strong::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    background: rgb(255, 255, 255, 0.3);
    margin: 0 0 0 15px;
}

.main_contact .contact_tit span {
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin: 0 60px 0 0;
}

.main_contact .contact_tit p {
    font-size: 13px;
    font-weight: 300;
    margin: 0 10px 0 0;
}

.main_contact .contact_tit i {
    display: block;
    font-size: 13px;
}



/* footer */

.footer {
    padding: 50px 0;
    text-align: center;
    background: #716e6a;
    color: #ccc;
}

.footer_inner {
    width: 850px;
    margin: 0 auto;
}

.footer .top {
    border-bottom: 1px solid #777;
}

.footer .top img {
    margin: 0 0 50px 0;
}

.footer .top ul {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.footer .top p {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.4;
    word-break: keep-all;
}

.footer .bottom {
    margin: 30px auto 0 auto;
}

.footer .bottom ul {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 15px 0;
}

.footer .bottom p {
    font-size: 13px;
}

.footer li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.footer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #888;
    margin: 0 10px 0 0;
}























/* to top */
.to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1001;
}

.to_top i {
    padding: 15px;
    font-size: 21px;
    background: #a69381;
    border-radius: 50%;
    color: #fff;

    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.to_top.on i {
    opacity: 1;
    visibility: visible;
}


@media (max-width:768px) {
    .to_top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1001;
    }

}


/* .mopen {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 1000;
    border: none;
    background: transparent;
    display: none;
}

.mopen i {
    background: #f7f7f7;
    padding: 8px;
    font-size: 30px;
}


@media (max-width:768px) {
    .mopen {
        position: fixed;
        top: 60px;
        right: 15px;
        z-index: 1002;
        border: none;
        background: transparent;
        display: block;
    }

    .mopen i {
        background: #f7f7f7;
        padding: 8px;
        font-size: 30px;
    }
} */